<h1>Timesheet</h1>
<% @timesheet.each do |t| %>
    <h3>Employee ID</h3>
    <p><%= t.employee_id %></p>
    <h3>Basic Hours</h3>
    <p><%= t.basic_hours %></p>
    <h3>Sunday Hours</h3>
    <p><%= t.sunday_hours %></p>

    <b/>
<% end %>
