@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables , etc */
@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}


body {
padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

}

html,
body {
 	background-color: #596b70;
 	font-family: 'Roboto', sans-serif;
}

html {
    overflow-y: scroll; 
}


section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

.main-container {
	width: 100%;
	background-color: #fff;
	text-align: center;
}

.img-main {
	height: 250px;
	width: 250px;
}

#newsfeed {
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 1px solid #E8E8E8;
}

#sales {
	padding-bottom: 10px;
	text-align: left;
}

.submitSales {
	text-align: center;
}


footer {
	text-align: center;
	background-color: #008898;
	color: #fff; 
    margin-top: 10px;
}

.logo_sml {
	padding-right: 3px;
}


/* navbar */
.navbar-custom {
    background-color: #008898;
    border-color: #f0d800;
}
/* title */
.navbar-custom .navbar-brand {
    color: #fff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: #fff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #008898;
}
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
    color: #f0d800;
    background-color: #008898;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #f0d800;
    border-bottom-color: #f0d800;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #f0d800;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-nav > li > a {padding-top:15px !important; padding-bottom:15px !important;}
.navbar {min-height:40px !important}
.navbar-brand {
	padding-top: 15px !important;

}

.navbar-header a:hover {
    background-color: transparent;
}


@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000;
    }
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: auto;
max-width: 100%;
line-height: 1;
width: 100%; // Add this
}

.reports {
	padding-top: 10px;
}

.btn { margin-top: 10px;}


/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

/* error message style for sign up */
#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}


.logo {
    margin: 20px;
}

.submit_btn {
    width: 150px;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.page_image {
  margin: 5px;
  float: left;
  text-align: center;
}

.dropshadowclass { padding: 5px; border: solid 1px #EFEFEF; }

